# Aplicação Prática de Python na Ciência dos Dados

**Aluno**: Ronnie

**Professor(a)**: Sergio Ricardo

*___________________________________________________________________________________________________________________*

**Etapa 1: Examinando o Anaconda e familiarizando-se com o Python**

(base) C:\Users\Ronnie>python
Python 3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>> for counter in range(5):
...         print(counter)
...
0
1
2
3
4
>>> example_dict = {'apples':5, 'oranges':8, 'bananas':13}
>>> dict_to_list = list(example_dict)
>>> dict_to_list
['apples', 'oranges', 'bananas']
>>>

*___________________________________________________________________________________________________________________*

**Etapa 2:  Carregando os dados do estudo de caso com o Jupyter e o pandas**

## Exercício 1: Python no Terminal

**Código**:
```python
for counter in range(5):
    print(counter)

example_dict = {'apples':5, 'oranges':8, 'bananas':13}
dict_to_list = list(example_dict)
dict_to_list

In [3]:
import pandas as pd
df = pd.read_excel('default_of_credit_card_clients__courseware_version_1_21_19.xls')
print("Número de colunas:", df.shape[1])
print("Número de linhas:", df.shape[0])
print("Tipos de dados:\n", df.dtypes)
print("Resumo estatístico:\n", df.describe())
print("Frequência de SEX:\n", df['SEX'].value_counts())
print("Frequência de inadimplência:\n", df['default payment next month'].value_counts())
print("Valores faltantes:\n", df.isnull().sum())

Número de colunas: 25
Número de linhas: 30000
Tipos de dados:
 ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object
Resumo estatístico:
             LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    165760.989333      1.586500      1.833333      1.535900     35.108800
std     130158.590432      0.513348      0.807699      0.542698      9.851592
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_2         PAY_3         PAY_4         PAY_5         PAY_6  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.132867     -0.164333     -0.219300     -0.263900     -0.288033
std        1.191215      1.191096      1.162348      1.127519      1.144981
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   42791.362167   39884.398167   38480.350933    5613.321500
std    ...   64090.316188   60606.644833   59406.836932   16539.094312
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2034.000000    1534.000000    1080.000000     836.000000
50%    ...   18759.500000   17835.500000   16643.000000    2084.500000
75%    ...   53572.250000   49804.000000   48863.500000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   5.855410e+03    5174.387967    4776.089733    4754.749200
std    2.299256e+04   17565.538305   15532.893047   15239.070708
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.217500e+02     371.000000     223.000000     170.750000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5164.223267                    0.218733
std     17712.664703                    0.413394
min         0.000000                    0.000000
25%         9.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 23 columns]
Frequência de SEX:
 SEX
2    17910
1    11775
0      315
Name: count, dtype: int64
Frequência de inadimplência:
 default payment next month
0    23438
1     6562
Name: count, dtype: int64
Valores faltantes:
 ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

## Respostas à Exploração de Dados

### Questionamentos e Respostas

1. **Saber quantas colunas os dados contêm. (Podem ser de características, resposta ou metadados).**
   - **Resposta**: Os dados contêm **25 colunas**. Essas colunas incluem características como `LIMIT_BAL` (limite de crédito), `SEX` (sexo), `AGE` (idade), `BILL_AMT1` a `BILL_AMT6` (valores das faturas), `PAY_AMT1` a `PAY_AMT6` (valores pagos), `PAY_1` a `PAY_6` (status de pagamento), entre outras. Há também a coluna `default payment next month` (resposta, indicando inadimplência) e `ID` (provavelmente um metadado).

2. **Quantas linhas (amostras).**
   - **Resposta**: Os dados contêm **30.000 linhas**, o que corresponde ao número de amostras (uma linha por conta de crédito), conforme descrito pelo problema da empresa.

3. **Que tipos de características existem. Quais são categóricas e quais são numéricas? (Os valores das características categóricas pertencem a classes discretas como “sim”, “não” ou “talvez”. Normalmente as características numéricas pertencem a uma escala numérica contínua, como as quantias em dólares).**
   - **Resposta**: 
     - **Numéricas**: Incluem `LIMIT_BAL` (limite de crédito), `AGE` (idade), `BILL_AMT1` a `BILL_AMT6` (valores das faturas), e `PAY_AMT1` a `PAY_AMT6` (valores pagos), que são escalas contínuas representadas como `int64`. Esses valores representam quantias ou medidas em uma escala numérica.
     - **Categóricas**: Incluem `SEX` (1 = masculino, 2 = feminino, com 0 como outlier), `EDUCATION` (1 a 6, níveis educacionais), `MARRIAGE` (1 a 3, status marital), `PAY_1` a `PAY_6` (status de pagamento, -2 a 8), e `default payment next month` (0 = não inadimplente, 1 = inadimplente), que têm valores discretos representando classes. Note que `PAY_1` aparece como `object`, possivelmente devido a dados mistos ou erros, mas as demais (`PAY_2` a `PAY_6`) são `int64` e tratadas como categóricas.
     - **Observação**: `ID` é `object`, sugerindo um identificador único (metadado), não uma característica analítica.

4. **Qual é a aparência dos dados segundo essas características. (Para saber isso, você pode examinar o intervalo de valores em características numéricas ou a frequência de classes diferentes em características categóricas, por exemplo).**
   - **Resposta**: 
     - **Características Numéricas**: 
       - `LIMIT_BAL`: Intervalo de 0 a 1.000.000, média de ~165.761, indicando variação ampla nos limites de crédito.
       - `AGE`: Intervalo de 0 a 79, média de ~35.1, com 25% abaixo de 28 e 75% abaixo de 41.
       - `BILL_AMT1` a `BILL_AMT6`: Intervalos de -170.000 a 961.664, médias variando de ~38.480 a ~42.792, mostrando valores de fatura com alguns negativos (possíveis erros ou créditos).
       - `PAY_AMT1` a `PAY_AMT6`: Intervalos de 0 a 896.040, médias de ~4.754 a ~5.613, refletindo pagamentos mensais.
     - **Características Categóricas**: 
       - `SEX`: Frequência de 17.910 mulheres (2), 11.775 homens (1), e 315 com valor 0 (outlier).
       - `default payment next month`: Frequência de 23.438 não inadimplentes (0) e 6.562 inadimplentes (1), indicando ~21,9% de inadimplência.

5. **Existem dados faltando?**
   - **Resposta**: Não, não há dados faltando. A soma de valores nulos é 0 para todas as 25 colunas, indicando que o dataset está completo.

### Considerações conclusivas:
- Os dados correspondem ao descrito: 30.000 amostras (linhas) e uma coluna de resposta (`default payment next month`), o que alinha com o problema da empresa.
- A presença de valores como `AGE = 0` ou `LIMIT_BAL = 0` pode ser um erro de dados e merece investigação.
- O valor `PAY_1` como `object` sugere inconsistência (ex.: strings ou valores mistos), enquanto `PAY_2` a `PAY_6` são `int64`, o que pode indicar necessidade de limpeza de dados.

**OBS**: Este notebook foi salvo no Google Colab